.header{
  background-color: #1C2B35;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}
nav.header a{
  text-decoration: none;
  color: #ffffff;
  margin-left: 30px;
}
nav.header a:hover {
  color: #ffa500;
}